{% extends 'task1/menu.html' %}
{% block title %}
    Магазин
{% endblock %}

{% block name_page %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
    {% if games %}
        <ul>
            {% for game in games %}
                <li> <h3>{{ game.title }} | {{ game.description }} | {{ game.cost }} руб. <button> Купить </button> </h3> </li>
            {% endfor %}
        </ul>
        {% include 'task1/pagination.html'%}
    {% else %}
        <h2>{{ error }}</h2>
    {% endif %}
    <a href="/"> <button>  &#11013;&#65039; Вернуться на главную страницу </button> </a>
{% endblock %}
